.idea
HW_22.iml
.classpath
.project
.settings/
target/*
!target/*
!target/HW_22-1.0-SNAPSHOT.jar
implementation/.classpath
implementation/.project
implementation/.settings/
implementation/target/
interface/.classpath
interface/.project
interface/.settings/
interface/target/
service/.classpath
service/.project
service/.settings/
service/target/
web/.classpath
web/.project
web/.settings/
web/target/